 .container.project-container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.project-card {
    width: 350px;
    height: 350px;
    border-radius: 3px;
    box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
    overflow: hidden;
}

.project-card .project-thumb {
    width: auto;
    height: 260px;
    background: #fff6 no-repeat center;
    background-size: cover;
    border-radius: 3px;
}

.project-card .project-infos {
    width: auto;
    height: 350px;
    position: relative;
    padding: 14px 24px;
    background: var(--color-bg-variant);
    transition: var(--transition);
}

.project-card .project-infos .tit {
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-card .project-infos .tit .logo {
    width: 40px;
}

.project-card .project-infos .tit .project-title {
    position: relative;
    letter-spacing: 2px;
    color: var(--color-fontnew);
    font-size: 16px;
    text-shadow: 0 0 0px #32577f;
    margin-bottom: 10px;
}

.project-card .project-infos .techno {
    display: inline-block;
    opacity: 0;
    margin-bottom: 5px;
}

.bubble {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    margin-right: 0.50rem;
    height: 1.5rem;
    line-height: 1.5rem;
    width: max-content;
    padding: 0 1rem;
}

.project-card .project-infos .project-tech {
    font-size: 12px;
    font-family: 'Jetbrain mono', monospace;
    color: var(--color-fontnew);
    text-align: center;
    vertical-align: center;
}

.project-card .project-infos .project-date {
    font-size: 0.85rem;
    color: var(--color-fontnew);
    margin-bottom: 15px;
}

.project-card:hover .project-infos {
    transform: translateY(-260px);
    transition: var(--transition);
}

.project-card:hover .project-infos .project-tech, 
.project-card:hover .project-infos .project-description, 
.project-card:hover .project-infos .project-links,
.project-card:hover .project-infos .techno, .bubble:hover {
    opacity: 1;
    transition: var(--transition);

}

.project-card .project-infos .project-description {
    margin-top: 10px;
    font-size: 0.90rem;
    color: var(--color-fontnew);
    opacity: 0;
    transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
    margin-bottom: 20px;
}

.project-card .project-infos .project-links {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 20px;
    letter-spacing: 1px;
    font-size: 1rem;
    cursor: pointer;
    opacity: 0;
    transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}

