nav.main_navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 70px;
    background-color: var(--color-bg);
    box-shadow: 0 10px 30px -10px #0f182a;
    padding: 0 50px;
    z-index: 20;
}

.logo-header {
    width: 100px;
}

ul.navbar_links {
    display: flex;
}

li.navbar_item {
    padding: 0 25px;
    color: inherit;
}

li .active {
    color: var(--color-tertiary);
}

li.navbar_item:hover {
    color: var(--color-tertiary);
    transition: var(--transition);
}

.navbar_burger {
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    color: inherit;
    display: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 976px){

    .logo-header {
        width: 80px;
    }
    .navbar_links {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        right: -100vw;
        width: 0;
        bottom: 0;
        height: 100vh;
        padding: 2rem;
        background-color: var(--color-bg);
        visibility: hidden;
        transition: var(--transition);
    }

    .show_nav .navbar_links {
        right: 0;
        width: 100vw;
        visibility: visible;
        gap: 2rem;
    }

    .cv {
        display: block;
        margin: 0 auto;
    }

    .navbar_links {
        display: block;
        padding: 1.5rem;
        font-size: 5vw;
    }

    .navbar_burger {
        display: block;
        position: fixed;
        top: 1rem;
        right: 1rem;
    }

    .navbar_burger:hover {
        cursor: pointer;
    }

    .burger_bar,.burger_bar::before,.burger_bar::after {
        display: block;
        width: 40px;
        height: 3px;
        position: relative;
        border-radius: 3px;
        background-color: white;
        transition: var(--transition);
    }

    .burger_bar::before,.burger_bar::after { 
        content: "";
        position: absolute;
        left: 0;
    }

    .burger_bar::before {
        transform: translateY(-12px);
    }

    .burger_bar::after {
        transform: translateY(12px);
    }

    .show_nav .burger_bar {
        background: transparent;
        width: 0;
    }

    .show_nav .burger_bar::before {
        transform: rotate(45deg);
    }

    .show_nav .burger_bar::after {
        transform: rotate(-45deg);
    }

    .navbar_item {
        transform: translateY(100vh);
    }

    .show_nav .navbar_item {
        transform: translateY(0);
    }

    .show_nav .slideInDown-1 {
        transition: all 1s ease-in-out;
    }

    .show_nav .slideInDown-2 {
        transition: all 1.2s ease-in-out;
    }

    .show_nav .slideInDown-3 {
        transition: all 1.4s ease-in-out;
    }

    .show_nav .slideInDown-4 {
        transition: all 1.6s ease-in-out;
    }

    .show_nav .slideInDown-5 {
        transition: all 1.8s ease-in-out;
    }
}