


.header_socials a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: var(--color-tertiary);
    position: relative;
    top: 314px;
}

.header_socials a::after {
    content: "";
    width: 1px;
    height: 8rem;
    background: var(--color-tertiary);
    align-items: center;
}