footer {
    background-color: var(--color-blackV2);
    padding: 3rem 0;
    margin-top: 2rem;   
    display: flex;
    flex-direction: column; 
    gap: 3rem;
    width: 100%;
    padding: 3rem 4rem 3rem 4rem;
    flex-wrap: wrap;
}

.links {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 100px;
}


.links a {
    margin-top: auto;
    margin-bottom: auto;
}

.links :hover {
    color: var(--color-tertiary);
    transition: var(--transition);
}

.contact {
    display: flex;
    align-self: center;
    border-radius: 8px;
    height: 40px;
    width: 150px;
    background-color: var(--color-tertiary);
    cursor: pointer;
}

.btn_contact {
    margin: auto auto auto auto;
}

.copyright {
    text-align: center;
    color: var(--color-white);
}


@media screen and (max-width: 976px){
    

    footer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    .links {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }

}

